In [2]:
import os
print(os.getcwd())

/opt/ml/code

In [1]:
from PIL import Image
 
target_dir = '../input/data/train/images/000001_female_Asian_45/incorrect_mask.jpg'
im = Image.open(target_dir)

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df = pd.read_csv('../input/data/train/train.csv')
df.head()

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54
3  000005  female  Asian   58  000005_female_Asian_58
4  000006  female  Asian   59  000006_female_Asian_59